*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/*
target/
/logs
.cache
.classpath
.project
.settings
.cache-main
.cache-tests
.sbtserver/
COPYING
LICENSE
activator
activator*.*
